body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
border: 1px solid #ccc;
padding: 10px;
margin: 10px;
width: 200px;
text-align: center;
}

.recipe-details {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#close-details {
    margin-top: 10px;
}